<div class="container my-5">

    <div class="parent"> 
    <h2>Register</h2>
    <hr />
    <form [formGroup]=" signUpForm" (ngSubmit)="handleSubmitForm()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="signupHelp"
          formControlName="Name"
        />
        @if(formControls['Name'].invalid &&
        formControls['Name'].touched){
        @if(formControls['Name'].hasError('required')){
            <div id="signupHelp" class="form-text text-danger">Required</div>
        } }
      </div>

      <div class="mb-3">
        <label for="user-name" class="form-label">User Name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          aria-describedby="signupHelp"
          formControlName="userName"
        />
        @if(formControls['userName'].invalid &&
        formControls['userName'].touched){
        @if(formControls['userName'].hasError('required')){
            <div id="signupHelp" class="form-text text-danger">Required</div>
        }@else if(formControls['userName'].hasError('pattern')){
                <div id="signupHelp" class="form-text text-danger">Isername should have no spaces</div>
          }  }
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="signupHelp"
          formControlName="userEmail"
        />
        @if(formControls['userEmail'].invalid && formControls['userEmail'].touched){
            @if(formControls['userEmail'].hasError('required')){
                <div id="signupHelp" class="form-text text-danger">Required</div>
            }@else if(formControls['userEmail'].hasError('pattern')){
                <div id="signupHelp" class="form-text text-danger">Invalid Email Format</div>
            } 
       }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          id="userPassword"
          aria-describedby="signupHelp"
          formControlName="userPassword"
        />
        @if(formControls['userPassword'].invalid && formControls['userPassword'].touched){
          @if(formControls['userPassword'].hasError('required')){
            <div id="signupHelp" class="form-text text-danger">Required</div>
          }@else if(formControls['userPassword'].hasError('pattern')){
            <div id="signupHelp" class="form-text text-danger"> 
                Password must be at least 8 characters, include one uppercase, one
                lowercase, one digit, and one special character.
            </div>
          } 
        }
      </div>


      <br/><br/>
            <button
              type="submit"
              class="btn"
              [disabled]="signUpForm.invalid"  routerLink="/" routerLinkActive="active-link">
              Register
            </button>

      <br/><br/>

      <p>have an Account? <a routerLink="/login" routerLinkActive="active-link">Login</a></p>

    </form>

    </div>
  </div>
  